.app {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* background-color: rgb(222, 176, 206); */
  color: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  border: 0.1px solid red;
}

.hover:hover {
  opacity: 0.7;
  cursor: pointer;
}

a {
  transition: 0.3s ease;
}

.app__wrapper {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 100px 0;
}

.app__title {
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  max-width: 600px;
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
}

.app__line-stroke-black {
  width: 100%;
  max-width: 1140px;
  height: 1px;
  flex-shrink: 0;
  background-color: #000;
}

.app__line-stroke-grey {
  width: 100%;
  max-width: 1140px;
  height: 1px;
  flex-shrink: 0;
  background-color: #E8E8E8;
}

@media screen and (max-width: 1160px) {
  .app__wrapper {
    max-width: 868px;
  }
}

@media screen and (max-width: 885px) {
  .app__wrapper {
    max-width: 668px;
    padding: 87px 0;
  }
}

@media screen and (max-width: 750px) {
  .app__wrapper {
    max-width: 284px;
    padding-bottom: 59px;
    padding-top: 70px;
  }

  .app__title {
    font-size: 18px;
    letter-spacing: -0.72px;
  }
}
