.search {
  height: 247px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  background-color: #fcfcfc;
}

.search__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px;
  margin: 60px auto 0;
  border-radius: 40px;
  background: #F9F9F9;
}

.search__form:hover {
  outline: 2px solid #FF6838;
}

.search__input:hover {
  font-size: 14px;
  line-height: 18px;
}

.search__input {
  border: none;
  outline: none;
  flex-grow: 1;
  height: 46px;
  padding: 0 25px;
  border-radius: 40px;
  background-color: #F9F9F9;
  color: #A0A0A0;
  font-size: 13px;
  line-height: 17px;
}

.search__button {
  width: 80px;
  height: 34px;
}

.search__error {
  width: 100%;
  max-width: 1090px;
  color: #EE3465;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  margin: 6px auto 12px;
  padding: 0 ;
}

.search__line-stroke {
  background-color: #E8E8E8;
  height: 1px;
  width: 100%;
  max-width: 1140px;
  margin-top: 69px;
}

@media screen and (max-width: 885px) {
  .search__form {
    margin-top: 78px;
    max-width: 708px;
  }
  .search__error {
    max-width: 658px;
  }
}

@media screen and (max-width: 750px) {
  .search__form {
    max-width: 284px;
    padding: 0;
  }

  .search__error {
    max-width: 258px;
    margin: 6px auto 15px;
  }

  .search__input {
    padding: 0 13px;
  }
}
