@keyframes preloader-inside-white {
  0% {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }

  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes preloader-inside-red {
  0% {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }

  30% {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }

  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 20px;
}

.preloader__container {
<<<<<<< HEAD
  width: 200px;
  height: 200px;
=======
  width: 100px;
  height: 100px;
>>>>>>> bf9cc22b0577b4c86d720b17440c85215251ea5c
  position: relative;
}

.preloader__round {
  width: 100px;
  height: 100px;
  position: absolute;
<<<<<<< HEAD
  transform: translate(50%, 50%);
=======
  top: 0;
  left: 0;
>>>>>>> bf9cc22b0577b4c86d720b17440c85215251ea5c
  background: #FF6838;
  border-radius: 50px;
}

<<<<<<< HEAD
.preloader__round-big {
  width: 200px;
  height: 200px;
  position: absolute;
  background: rgba(255, 219, 56, 0.774);
  border-radius: 100px;
}

=======
>>>>>>> bf9cc22b0577b4c86d720b17440c85215251ea5c
.preloader__round::after,
.preloader__round::before {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
<<<<<<< HEAD
  transform: translate(50%, 50%);
  border-radius: 50px;
}

.preloader__round-big::after,
.preloader__round-big::before {
  content: '';
  width: 200px;
  height: 200px;
  position: absolute;
  transform: translate(50%, 50%);
  border-radius: 100px;
}

=======
  top: 0;
  left: 0;
  border-radius: 50px;
}

>>>>>>> bf9cc22b0577b4c86d720b17440c85215251ea5c
.preloader__round::after {
  background: #F9F9F9;
  animation: preloader-inside-white 1s ease-in-out infinite;
}

.preloader__round::before {
  z-index: 10;
  background: #FF6838;
  animation: preloader-inside-red 1s ease-in-out infinite;
}
<<<<<<< HEAD

.preloader__round-big::before {
  z-index: 10;
  background: rgba(236, 235, 232, 0.274);
  animation: preloader-inside-red 2s ease-in-out infinite;
}
=======
>>>>>>> bf9cc22b0577b4c86d720b17440c85215251ea5c
