.checkbox {
  display: flex;
  margin-top: 11px;
}

.checkbox__filter {
  width: 36px;
  height: 20px;
  margin-right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #FFFFFF;
  padding: 0;
}

.checkbox__label {
  font-size: 14px;
  line-height: 18px;
  /* 128.571% */
  background-color: #FFFFFF;
  display: flex;
  margin: 30px auto 0;
}

.checkbox__form {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .checkbox__label {
    font-size: 11px;
    line-height: 18px;
    background-color: #FFFFFF
  }
}
