.about-me {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 13px;
}

.about-me__blok-info {
  display: flex;
  justify-content: space-between;
  justify-items: end;
  margin-top: 66px;
  align-items: flex-start;
}

.about-me__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
}

.about-me__subtitle {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  /* 116% */
  letter-spacing: -2px;
  margin: 0;
  padding-bottom: 20px;
}

.about-me__job {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  /* 111.111% */
}

.about-me__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
  padding: 25px 0 97px;
  margin: 0;
}

.about-me__link {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  color: #000;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
}

@media screen and (max-width: 885px) {
  .about-me {
    padding: 0;
  }

  .about-me__subtitle {
    font-size: 40px;
    line-height: 40px;
    /* 100% */
    letter-spacing: -1.6px;
    margin: 0;
    padding-bottom: 16px;
  }

  .about-me__info {
    max-width: 348px;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }

  .about-me__job {
    font-size: 12px;
    line-height: 18px;
    /* 150% */
  }

  .about-me__text {
    font-size: 12px;
    line-height: 18px;
    /* 150% */
    padding: 20px 0 69px;
  }
}

@media screen and (max-width: 750px) {
  .about-me__subtitle {
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
    margin: 0;
    padding: 40px 0 18px;
  }

  .about-me__blok-info {
    flex-direction: column;
    align-items: center;
    margin: 65x auto 0;
  }

  .about-me__info {
    /* width: 100%; */
    width: 292px;
    order: 2;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;
  }

  .about-me__job {
    font-size: 11px;
    line-height: 16px;
    /* 145.455% */
  }

  .about-me__text {
    font-size: 11px;
    line-height: 16px;
    /* 145.455% */
    padding: 20px 0 42px;
  }
}
